* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
}

.btn {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  line-height: 1.2;
}
.btn:hover {
  background-position: right center;
}
/* CSS HEADER */

header {
  display: flex;
  justify-content: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  background: #000;
  height: 80px;
}

header .container img {
  padding-top: 12px;
}
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav ul li {
  margin-right: 40px;
}

header nav ul li a {
  color: white;
}

header nav ul li i {
  font-size: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
}

/* CSS CAROUSEL */

#carousel {
  background-image: url(../img/pic2.png);
  height: 80vh;
  background-position: top;
  background-size: 100%;
  padding-top: 150px;
}

#carousel .container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

#carousel .carousel__left {
  padding-right: 40px;
}

#carousel .carousel__left p {
  padding: 20px 0;
}

#carousel .carousel__left p:first-child {
  color: #f55f8d;
  font-size: 22px;
  font-weight: 600;
}

#carousel .carousel__left h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: black;
  margin-bottom: 20px;
}

#carousel .carousel__left ul li {
  font-size: 20px;
  padding-bottom: 20px;
}

#carousel .carousel__left ul li i {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  border-radius: 50%;
}
