/* CSS GLOBAL*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
}

.btn {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  line-height: 1.2;
}
.btn:hover {
  background-position: right center;
}

.title {
  color: #f55f8d;
  font-size: 22px;
  font-weight: 600;
}

.title__h2 {
  font-size: 60px;
  line-height: 1.1;
  font-weight: 800;
  color: black;
  margin-bottom: 20px;
}
/* CSS HEADER */

header {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  /* background: #000; */
  height: 80px;
  padding-top: 40px;
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav ul li {
  margin-right: 40px;
}

header nav ul li a {
  color: #000;
}

header nav ul li i {
  font-size: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
}

/* CSS CAROUSEL */

#carousel {
  background-image: url(../img/pic2.png);
  height: 80vh;
  background-position: top;
  background-size: 100%;
  padding-top: 150px;
}

#carousel .container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

#carousel .carousel__left {
  width: 60%;
  padding-right: 40px;
}

#carousel .carousel__left p {
  padding: 20px 0;
}

#carousel .carousel__left ul li {
  font-size: 20px;
  padding-bottom: 20px;
}

#carousel .carousel__left ul li i {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  border-radius: 50%;
  margin-right: 10px;
}

#carousel .carousel__right {
  width: 40%;
}

#carousel .carousel__right .banner {
  width: 100%;
}

/* CSS SERVICE */
#services {
  /* background: #000; */
  background-image: url(../img/bg2.png);
  background-position: top center;
  background-size: cover;
  height: 80vh;
  text-align: center;
  padding-top: 100px;
}

#services .services__content {
  display: flex;
  justify-content: space-between;
  width: calc(100 / 3);
}

#services .services__item {
  background: white;
  padding: 30px 50px;
  margin: 20px 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
}

#services .title {
  margin-bottom: 20px;
}

#services .services__item img {
  width: 200px;
}

#services .services__item h3 {
  font-size: 25px;
  font-weight: bold;
  margin: 25px 0;
}

#services .services__item p {
  line-height: 30px;
}

/* CSS ABOUT */
#about {
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}

#about .container {
  display: flex;
  justify-content: space-between;
}

#about .about__left {
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
}

#about .about__left img {
  width: 100%;
  border-radius: 0 50px 50px 0;
  position: absolute;
  right: 80px;
}

#about .about__right {
  width: 50%;
  padding: 20px;
}

#about .about__right .title {
  margin-bottom: 20px;
}

#about .about__right .title__h2 {
  margin-bottom: 30px;
}

#about .about__right p {
  line-height: 25px;
  margin-bottom: 20px;
}
#about .about__right li {
  margin-bottom: 20px;
}

#about .about__right li i {
  height: 25px;
  width: 25px;
  line-height: 23px;
  text-align: center;
  color: #f55f8d;
  border: 1px solid #f55f8d;
  border-radius: 50%;
  margin-right: 10px;
}

/* CSS PROJECT */
#project {
  background-image: url(../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 80px 0 50px;
}

#project .project__content {
  display: flex;
  justify-content: space-around;
}

#project .project__item i {
  font-size: 40px;
  color: white;
  width: 70px;
  height: 70px;
  line-height: 68px;
  text-align: center;
  border: 1px solid #f55f8d;
  border-radius: 50%;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
}

#project .project__item h2 {
  color: #f55f8d;
  font-size: 60px;
  font-weight: bold;
}
