/* CSS GLOBAL*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
}

.btn {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  line-height: 1.2;
}
.btn:hover {
  background-position: right center;
}

.title {
  color: #f55f8d;
  font-size: 22px;
  font-weight: 600;
}

.title__h2 {
  font-size: 60px;
  line-height: 1.1;
  font-weight: 800;
  color: black;
  margin-bottom: 20px;
}
/* CSS HEADER */

header {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  /* background: #000; */
  height: 80px;
  padding-top: 40px;
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav ul li {
  margin-right: 40px;
}

header nav ul li a {
  color: #000;
}

header nav ul li i {
  font-size: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
}

/* CSS CAROUSEL */

#carousel {
  background-image: url(../img/pic2.png);
  height: 80vh;
  background-position: top;
  background-size: 100%;
  padding-top: 150px;
}

#carousel .container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

#carousel .carousel__left {
  width: 60%;
  padding-right: 40px;
}

#carousel .carousel__left p {
  padding: 20px 0;
}

#carousel .carousel__left ul li {
  font-size: 20px;
  padding-bottom: 20px;
}

#carousel .carousel__left ul li i {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  border-radius: 50%;
  margin-right: 10px;
}

#carousel .carousel__right {
  width: 40%;
}

#carousel .carousel__right .banner {
  width: 100%;
}

/* CSS SERVICE */
#services {
  /* background: #000; */
  background-image: url(../img/bg2.png);
  background-position: top center;
  background-size: cover;
  height: 80vh;
  text-align: center;
  padding-top: 100px;
}

#services .services__content {
  display: flex;
  justify-content: space-between;
  width: calc(100 / 3);
}

#services .services__item {
  background: white;
  padding: 30px 50px;
  margin: 20px 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
}

#services .title {
  margin-bottom: 20px;
}

#services .services__item img {
  width: 200px;
}

#services .services__item h3 {
  font-size: 25px;
  font-weight: bold;
  margin: 25px 0;
}

#services .services__item p {
  line-height: 30px;
}

/* CSS ABOUT */
#about {
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}

#about .container {
  display: flex;
  justify-content: space-between;
}

#about .about__left {
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
}

#about .about__left img {
  width: 100%;
  border-radius: 0 50px 50px 0;
  position: absolute;
  right: 80px;
}

#about .about__right {
  width: 50%;
  padding: 20px;
}

#about .about__right .title {
  margin-bottom: 20px;
}

#about .about__right .title__h2 {
  margin-bottom: 30px;
}

#about .about__right p {
  line-height: 25px;
  margin-bottom: 20px;
}
#about .about__right li {
  margin-bottom: 20px;
}

#about .about__right li i {
  height: 25px;
  width: 25px;
  line-height: 23px;
  text-align: center;
  color: #f55f8d;
  border: 1px solid #f55f8d;
  border-radius: 50%;
  margin-right: 10px;
}

/* CSS PROJECT */
#project {
  background-image: url(../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 80px 0 50px;
}

#project .project__content {
  display: flex;
  justify-content: space-around;
}

#project .project__item i {
  font-size: 40px;
  color: white;
  width: 70px;
  height: 70px;
  line-height: 68px;
  text-align: center;
  border: 1px solid #f55f8d;
  border-radius: 50%;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
}

#project .project__item h2 {
  color: #f55f8d;
  font-size: 60px;
  font-weight: bold;
}

/* CSS FEATURE */
#feature {
  background-image: url(../img/bg2.png);
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;
  padding-top: 115px;
  overflow: hidden;
}

#feature .container {
  display: flex;
}

#feature .title,
#feature .title__h2 {
  margin-bottom: 20px;
}

#feature .feature__left {
  width: 50%;
}

.feature__item {
  /* margin-bottom: 25px;
  margin-right: 25px; */
  padding: 0 50px 30px 0;
}

.feature__item .feature__bg {
  background: white;
  border-radius: 10px;
  border: 1px solid white;
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
}

.feature__item h3 {
  font-size: 25px;
  font-weight: bold;
}

.feature__item i {
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #f55f8d;
  font-size: 60px;
  margin: 10px 20px 10px 10px;
}

.feature__middle {
  padding: 0 0 30px 50px;
}

#feature .feature__right {
  width: 50%;
}

#feature .feature__right img {
  width: 100%;
}

/* CSS WORK */

#work {
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  overflow: hidden;
  padding: 50px 0;
}

.work__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.work__item img {
  width: 100%;
  height: 100%;
  /* filter: grayscale(50%) contrast(50%); */
  border-radius: 10px;
  /* position: relative; */
}

.work__item.item-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.work__item.item-2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.work__item.item-3 {
  grid-column: 1/ 3;
  grid-row: 3 / 4;
}

.work__item.item-4 {
  grid-column: 3/ 4;
  grid-row: 2 / 4;
}

.work__item {
  position: relative;
}

.blog__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.5s;
  opacity: 0;
}

.blog__overlay i {
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  transition: 0.5s;
}

.over__title {
  color: white;
  position: absolute;
  bottom: 0px;
  left: 30px;
  transition: 0.5s;
  text-align: left;
}

.over__title h3 {
  font-size: 20px;
  font-weight: bold;
}

/* CSS hover WORK */

.work__item:hover .blog__overlay {
  opacity: 1;
}

.work__item:hover i {
  top: 30px;
  right: 30px;
}
.work__item:hover .over__title {
  bottom: 30px;
}

/* .blog__overlay::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.blog__overlay:hover::before {
  left: 125%;
} */

/* CSS NEWS - BLOG */
#news {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
.news__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news__list .news__item {
  padding: 10px;
}

.news__list .news__item .item__content {
  /* padding: 10px; */
  background: rgba(245, 95, 141, 0.1);
  border-radius: 10px;
}

.news__list .news__item .news__body {
  padding: 40px 20px 15px;
}

.news__list .news__item .news__body h3 {
  font-size: 25px;
  font-weight: bold;
}

.news__header img {
  width: 100%;
  border-radius: 10px;
  /* height: 100%; */
}

.news__header {
  position: relative;
  height: 100%;
}
.news__header p {
  padding: 10px 30px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  border-radius: 10px;
  position: absolute;
  bottom: -15px;
  left: 30px;
}

.news__user {
  display: flex;
  justify-content: flex-starts;
  border-top: 1px solid gray;
  padding: 20px;
}

.news__user p {
  margin-right: 20px;
}

.news__user i,
.news__user span {
  color: #f55f8d;
}

/* FOOTER */
footer .newsletter {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

footer .newsletter h3 {
  width: 50%;
  font-size: 25px;
  font-weight: bold;
}

footer .newsletter .email {
  width: 50%;
  /* display: flex; */
}

footer .newsletter .email button {
  padding: 0 25px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: white;
  cursor: pointer;
}

footer .newsletter .email form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

footer .newsletter .email input {
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: none;
  transition: all 0.5s;
}
